.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}

.container h5 {
  color: #b3b3b3;
}

.container h4 {
  color: aliceblue;
}
